@model G2App.Models.ValueModel

<!DOCTYPE html>
<html>
<head>
    <title>Display Value</title>
</head>
<body>
    <h1>Database Value</h1>
    <p>Value from Azure SQL: @Model.DisplayValue</p>
</body>
</html>
